
html {
    margin: auto;
    background-color: #181a1b;
}

body {
    font-family: Arial, Verdana, sans-serif;
    margin: 0;
}

/* https://1stwebdesigner.com/15-css-background-effects/ */
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


header {
    background: #181a1b linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    display:   grid;
    place-items: center;
    color:       white;
    height:      100vh;

    font-size: 1.7rem;
    margin-bottom: 2vw;
    text-align: center;
}

h1 {
    font-size: 4.5vw;
    margin-top:    0;
    text-shadow: 1px 1px 1px black, 0 0 10px black, 0 0 5px black;
}

h2{
    font-size: 3vw;
    text-shadow: 1px 1px 1px black, 0 0 1px black, 0 0 5px black;
}

a{
    color: white;
}

img {
    padding:0 0.5rem 0 0.5rem;
    border-radius: 2%;
}