
/* icons are originally gray, invert the color to white */
/*<a href="https://iconscout.com/icon-pack/social-media-16" target="_blank">Social Media Icon Pack</a> on <a href="https://iconscout.com">IconScout</a>*/
.icon{
    filter: brightness(0) invert(1);
    max-width: 5%;
    max-height: 5%;
}

/* container for each section on page */
.grid_container{
    display:   grid;
    font-size: 1.7rem;

}

/* for each section inside the container */
.grid_container > section {
    text-align: center;
}

/* for each p inside the section */
.grid_container > section > p {
    text-align: left;
    margin-top: 0;
}



