
/* icons are originally gray, invert the color to white */
/*<a href="https://iconscout.com/icon-pack/social-media-16" target="_blank">Social Media Icon Pack</a> on <a href="https://iconscout.com">IconScout</a>*/
.icon{
    filter: brightness(0) invert(1);
    max-width: 6%;
    max-height: 6%;
    min-width: 25px;
    min-height: 25px;
}

/* container for each section on page */
.grid_container{
    display:   grid;
    font-size: 1.7rem;
    margin-bottom: 2vw;
}

/* for each section inside the container */
.grid_container > section {
    text-align: center;
}

/* for each p inside the section */
.grid_container > section > p {
    text-align: left;
    margin-top: 0;
}

/*
CSS for about section
 */


/* about grid item */
.about{
    grid-template-columns: auto auto;
    gap:5%;
    padding:10px;
    text-align: left;
    color: black;
    background: rgba(255,255,255,0.8);

}
/* only one column on small screens */
@media only screen and (max-width: 1000px) {
    .about {
        grid-template-columns: auto;
    }
}
/* projects grid */
/* larger margin for wide screens */
@media only screen and (min-width: 2000px) {
    .grid_container {
        margin-left: 15vw;
        margin-right: 15vw;
    }
}

.about > img{
    width: 100%;
    padding: 0;
}


/*
CSS for project showcase section
 */

/* projects grid */
.projects{
    background: rgba(255,255,255,0.8);
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap:5px;
    padding:10px;


}

/* only one column on small screens */
@media only screen and (max-width: 1000px) {
    .projects {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

}

/* 3 columns on large screens */
@media only screen and (min-width: 1000px) {
    /* make header take up whole column */
    .projects_header{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 4;
    }

}


/* set width to fit into container */
.projects > figure > a > img{
    width: 100%;
    max-height: 100%;
    padding: 0;
}

/* p font-size within figure */
.projects > figure > p{
    font-size: 1.2rem;

}