
/* icons are originally gray, invert the color to white */
/*<a href="https://iconscout.com/icon-pack/social-media-16" target="_blank">Social Media Icon Pack</a> on <a href="https://iconscout.com">IconScout</a>*/
.icon{
    filter: brightness(0) invert(1);
    max-width: 6%;
    max-height: 6%;
}

/* container for each section on page */
.grid_container{
    display:   grid;
    font-size: 1.7rem;
    margin: 5vw;
}

/* for each section inside the container */
.grid_container > section {
    text-align: center;
}

/* for each p inside the section */
.grid_container > section > p {
    text-align: left;
    margin-top: 0;
}

/* about grid item */
.about{
    grid-template-columns: auto auto;
    gap:5%;
    padding:10px;
    text-align: left;
    color: black;
    background-color: white;

}
/* only one column on small screens */
@media only screen and (max-width: 1000px) {
    .about {
        grid-template-columns: auto;
    }
}

/* only one column on small screens */
@media only screen and (min-width: 2000px) {
    .grid_container {
        margin-left: 15vw;
        margin-right: 15vw;
    }
}

/* only one column on small screens */
.about > img{
    width: 100%;
    padding: 0;
}


